<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FinalHouseMoney | 固定費一覧</title>
</head>
<body>
	<div class="container">
		<div class="fixed_box">
			<h3>固定費登録</h3>
			<form id="fixedForm">
				<div class="form-row">
					<label for="title">カテゴリー</label>
					<input type="text" />
				</div>

				<div class="form-row">
					<label for="body">入金額</label>
					<input type="text" />
				</div>

				<input type="submit" value="登録">
<!--				<form id="editFixedCostForm" th:action="@{/payments/fixed?action=edit}" th:method="POST" th:object="${form}">-->
			</form>

			<div class="fixedTable">
				<h3>固定費一覧</h3>
				<table>
					<thead>
						<tr>
							<th>固定費名称</th>
							<th>金額</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td><button type="button">更新</button></td>
							<td><button type="button">削除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<form id="editFixedCostForm" th:action="@{/payments/fixed}" th:object="${editFixedCostForm}" th:method="POST">
<!--			<form id="editfixedCostForm" th:action="@{/payments/fixed?action=create}" th:object="${form}" th:method="POST">-->
				<div th:if="${validationError}" th:each="error : ${validationError}">
			      <label class="text-danger" th:text="${error}"></label>
			    </div>
			    <input type="hidden" th:field="*{id}" th:value="${id}" />
				<div class="form-row">
					<label for="title">カテゴリー</label>
					<select type="text" th:field="*{categoryId}">
						<option th:value="1">家賃</option>
						<option th:value="2">生活費</option>
						<option th:value="3">雑費</option>
					</select>
				</div>
			
				<div class="form-row">
					<label for="body">出金額</label>
					<input type="text" th:field="*{amount}" />
				</div>
				
				<div class="form-row">
					<label for="body">ユーザーID</label>
					<input type="text" th:field="*{userId}" />
				</div>
			
				<div class="form-button">
					<input type="submit" value="更新">
				</div>
			</form>
		</div>
	</div>
</body>
</html>