<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>ユーザ一覧</p>

	<table>
		<tr th:each="fixedCost: ${fixedCosts}">
			<td th:text="${fixedCost.id}"></td>
			<td th:text="${fixedCost.categoryId}"></td>
			<td th:text="${fixedCost.amount}"></td>
			<td th:text="${fixedCost.userId}"></td>
			<td><a th:href="@{/payments/fixed(id=${fixedCost.id})}">編集</a></td>
		</tr>
	</table>
</body>
</html>