<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FinalHouseMoney | 日記登録</title>
<link th:href="@{/css/posts.css}" rel="styleSheet" type="text/css">
</head>
<body>
	
	<div class="wrapper">
		<h2 class="htmlTitle">日記をかく</h2>
		
		<div class="form-body">
			<form th:action="@{/posts/create}" th:object="${form}" method="POST">
				<div class="form-row">
					<label for="title">簡潔に書くと？</label>
					<input type="text" th:field="*{title}" name="title"><br>
				</div>

				<div class="form-row">
					<label for="body">詳しく書くと？</label>
					<textarea th:field="*{body}" name="body" cols="80" rows="5"></textarea>
				</div>

				<div class="form-button">
					<input type="submit" value="ほぞんする">
				</div>
			</form>
			<div>
				<a th:href="@{/posts}" class="moveButton">日記一覧に戻る</a>
			</div>
		</div>
	</div>

</body>
</html>