<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FinalHouseMoney | 日記編集</title>
<link th:href="@{/css/style.css}" rel="styleSheet">
</head>
<body>

	<div class="wrapper">
		<h2 class="htmlTitle">日記をかきなおす</h2>
		
		<div class="form-body">
			<form>
				<div class="form-row">
					<label for="title">簡潔に書くと？</label>
					<input type="text" />
				</div>

				<div class="form-row">
					<label for="body">詳しく書くと？</label>
					<textarea name="contents" cols="80" rows="5"></textarea>
				</div>

				<div class="form-button">
					<input type="submit" value="ほぞんする">
				</div>
			</form>
		</div>
		<button class="button">削除</button>
	</div>
</body>
</html>