@charset "UTF-8";

/* general */
.container {
	width: 80%;
	margin: 5rem auto;
}
.button-element {
	margin: 20px 40px;
	text-align: center;
}
.moveButton {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #FF9900;
  	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}
.moveButton:hover {
	color: #fff;
}

/* create.html */
.changeButton {
	text-align: center;
	margin: 1rem auto;
}

.changeButton button {
	display: inline-block;
	text-decoration:  none;
	color: #FF9900;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	border: double 4px #FF9900;
	text-align: center;
	overflow: hidden;
	transition: .6s;
	font-size: 1.5rem;
	margin: 0.5rem;
	background-color: #ffffff;
}

/* form */
.form-body {
	margin: 0 auto;
	padding: 1rem;
}
.form-row {
	padding: 0.5rem;
}
.form-row label {
	display: inline-block;
	width: 30%;
}
.form-row input, select {
	display: inline-block;
	width: 60%;
	border-top: solid #dcdcdca4 5px;
	border-bottom: solid #dcdcdca4 5px;
	border-right: solid #b6b6b6 6px;
	border-left: solid #b6b6b6 6px;
	text-align: right;
}
.form-row input:focus {
	outline: solid  #FF9900 3px;
}
.form-button {
	text-align: center;
	margin-top: 1rem;
}
.form-button input {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 1em;
	text-decoration: none;
	border: none;
	border-left: solid 4px #FF9900;
	border-right: solid 4px #FF9900;
	color: #FF9900;
	background: #ffffff;
	transition: .4s;
}

/* calculator */
table {
	width: 350px;
    height: 450px;
	border: solid 4px #dcdcdca4;
	border-right: solid 7px #dcdcdca4;
	border-bottom: solid 7px #dcdcdca4;
	border-radius: 10px;
	text-align: center;
	padding: 8px;
	margin: 20px auto;
	background-color: #ffffff;
}
table input {
	width: 70px;
	height: 70px;
	font-size: x-large;
	background-color: #dcdcdca4;
	border: none;
	border-radius: 40px;
	outline: none;
}   
.display {
	width: 250px;
	text-align: right;
	background: #ffffff;
	border-top: solid #dcdcdca4 5px;
	border-bottom: solid #dcdcdca4 5px;
	border-right: solid #b6b6b6 6px;
	border-left: solid #b6b6b6 6px;
	border-radius: 5px;
}
.operator {
	background-color: #87cefa;
}
.equal {
	background-color: #b6b6b6;
}
table input:hover {
	background: #747373b9;
}
.display:hover {
	background: #ffffff;
}
.operator:hover {
	background: #339cdd;
}
table input:active {
	background:  #5a5a5a;
}
.operator:active {
	background: #2c80b4;
}

/*tab*/
#tab-list {
	margin-bottom: -0.5em;
}
#tab-list li {
	display: inline-block;
	border-width: 3px 3px 0 3px;
	border-style: solid;
	border-color: #FF9900;
	border-radius: 0.75em 0.75em 0 0;
	padding: 0.75em 1em;
	text-decoration: none;
	color: black;
	background-color: white;
	font-weight: bold;
	position: relative;
}
#tab-list li:hover {
	transform: translateY(-5px);
}
#tab-list li.active {
	background-color: #FF9900;
}
#tab-content{
	border: 1px solid #FF9900;
	margin-top: -1px;
	padding: 1em;
	background-color: white;
	position: relative;
	z-index: 0;
	display: none;
}
#tab-content.active {
	display: block;
	border: 5px solid #FF9900;;
}