<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FinalHouseMoney | 新規登録</title>
</head>
<body>
	<header>
		<p>FinalHouseMoney</p>
	</header>

<form th:action="@{/signUp}" th:object="${createUserForm}" method="POST">
	<div class="container">
		<div class="form-body">
			<form>
				<div class="form-row">
					<label for="name">名前</label>
					<input type="text" th:field="*{name}" name="name">
				</div>

				<div class="form-row">
					<label for="password">パスワード</label>
					<input type="password" th:field="*{password}" name="password">
				</div>

				<input type="submit" value="Sign up">
				
			</form>
		</div>
	</div>

	<footer>
		<p>202303 KAAYE</p>
	</footer>
</body>
</html>