<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PostMapper">
	<insert id="create">
		INSERT INTO posts(
		user_id,
		title,
		body
		) VALUES (
		#{user_id},
		#{title},
		#{body}
		);
	</insert>
	<select id="getAll" resultType="com.example.demo.entity.Post">
		SELECT
			user_id,
			title,
			body,
			posts.created_at,
			posts.updated_at
		FROM
			posts
		INNER JOIN
			users
		ON
			posts.user_id = users.id
		WHERE
			users.name = #{name};
	</select>
</mapper>