<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SpendingMapper">
	<select id="findAll" resultType="com.example.demo.entity.Spending">
		SELECT
			spendings.id AS id,
			category_id,
			amount,
	<!--			spending_categories.id AS category_id,-->
	<!--			spending_categories.category_name AS category_name,-->
			user_id
		FROM
			spendings
	<!--		INNER JOIN spending_categories ON spending.category_id = spending_categories.id-->
	<!--		INNER JOIN positions ON users.position_id=positions.id-->
	</select>
	<select id="findById" resultType="com.example.demo.entity.Spending">
		SELECT
		 	*
		FROM
			spendings
		WHERE 
			id = #{id}
	</select>
	<select id="getTodaySpending" resultType="com.example.demo.entity.User">
		SELECT 
			sum(todayspending.amount) as daySpending
		FROM 
			spendings as todayspending
		INNER JOIN 
			users  
		on 
			todayspending.user_id = users.id
		WHERE 
			users.name = #{name} 
			AND DATE_FORMAT(todayspending.created_at, '%Y-%m-%d') = CURDATE()
			limit 1;
	</select>
	<insert id="create">
		INSERT INTO spendings(
			id,
			category_id,
			amount,
			user_id
		) VALUES (
			#{id},
			#{categoryId},
			#{amount},
			#{userId}
		)
	</insert>
	<update id="edit">
		UPDATE spendings SET
			category_id = #{categoryId},
			amount = #{amount},
			user_id = #{userId},
			updated_at = NOW()
		WHERE
			id = #{id}
	</update>
	<delete id="deleteSpending">
		DELETE FROM spendings WHERE id = #{id}
	</delete>
</mapper>