<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
	<select id="findAll" resultType="com.example.demo.entity.User">
		SELECT
			id,
			name,
			password,
			phone_number AS phoneNumber
		FROM
			users
	</select>
	<!-- 新規登録 -->
	<insert id="create">
		INSERT INTO users(
			name,
			password
		) VALUES (
			#{name},
			#{password}
		)
	</insert>
	<!--ログイン -->
	<select id="login" resultType="com.example.demo.entity.User">
		SELECT
			*
		FROM
			users
		WHERE
			name=#{name}
	</select>
</mapper>
